@model QuestionnaireViewModel.QuestionViewModel
<div class="form-group">
    @Html.LabelFor(model => model.Answer, Model.Question, new { @class = "control-label col-md-4" })
    <div class="col-md-4">
        @Html.HiddenFor(model => model.Question)
        @Html.TextBoxFor(model => model.Answer, new { @class = "form-control" })
    </div>
</div>
